coverage
cookiecutter
coverage

# linter
pylint
rope
autopep8

# testing
pytest
pytest-cookies
pytest-cov
pytest-instafail
pytest-mock
pytest-sugar

# package management
bump2version
pip-tools
yolk3k              # obtains info about installed packages or available in PyPi
semantic_version    # check compatibility versioning


# constraints ---
# vulnerabilities
urllib3~=1.26.7  
jinja2~=3.0.3 

